.callout {
	width: 800px;
	margin: 15px;
	border: 10px solid rgba(0,0,0,.1);
	padding: 25px;
	background-color: rgb(22, 98, 48);
	color: #fff;
}

.callout img {
	float: left;
	margin: 0 15px 10px 15px;
	border: 1px solid #000;
	padding: 3px;
	background-color: #bbbbbbb4;
	width: 100px;
	height: auto;
	
}

blockquote {
	margin: 0;
}

cite {
	display: block;
	border-top: 5px dotted #fff;
	padding-top: 3px;
	text-align: right;
	font-size: smaller;
}